<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<header th:fragment="headerMenu">
    <meta name="google-signin-client_id" content="811801564346-qergsgujhiga65la03vl4mkvuu0kkck1.apps.googleusercontent.com">

    <div class="inner">

        <div class="header__menu">
            <nav>
                <ul>
                    <li><a href="project" th:class="${#httpServletRequest.requestURI == '/project'} ? 'current':''">프로젝트 관리</a></li>
                    <li><a href="projectReg" th:class="${#strings.contains(#httpServletRequest.requestURI,'projectReg')} ? 'current':''">프로젝트 등록</a></li>
                    <li><a href="manager" th:class="${#strings.contains(#httpServletRequest.requestURI,'manager')} ? 'current':''">담당자 관리</a></li>
                </ul>
            </nav>


            <div class="header_menu__right">
                <div sec:authorize="isAuthenticated()" style="display: inline-block; vertical-align: middle;">
                    <span sec:authentication="name"></span>
                    님 안녕하세요.
                </div>
                <div  style="display: inline-block; vertical-align: middle;">
                <a sec:authorize="isAnonymous()" href="/login">로그인</a>
                <a sec:authorize="isAnonymous()" href="/signup">회원가입</a>
                <a sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>
                </div>
            </div>
        </div>

    </div>
</header>
</html>