<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>개발2팀_스터디1</title>
	<link type="text/css" rel="stylesheet" href="../css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../css/ui.css"/>
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div class="container">

	<header>

		<div class="inner">

			<div class="header__menu">
				<nav>
					<ul>
						<li><a href="project" class="current">프로젝트 관리</a></li>
						<li><a href="projectReg">프로젝트 등록</a></li>
						<li><a href="manager">담당자 관리</a></li>
					</ul>
				</nav>


				<div class="header_menu__right">
					<a href="signin">로그인</a>
					<a href="signup">회원가입</a>
					<a href="logout">로그아웃</a>
				</div>
			</div>

		</div>
	</header>

	<div class="wrapper">


		<article class="table-set">
			<div class="inner">
				<div class="table-list-tit">프로젝트 상세</div>
				<table>
					<colgroup>
						<col style="width:200px;">
						<col style="width:auto;">
					</colgroup>
					<tbody>
					<tr>
						<th>프로젝트명</th>
						<td><input class="tbox"></td>
					</tr>
					<tr>
						<th>상위프로젝트 선택</th>
						<td>
							<select>
								<option>선택</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>상태</th>
						<td>
							<select>
								<option>선택</option>
								<option>대기</option>
								<option>진행중</option>
								<option>완료</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>금액</th>
						<td><input class="tbox"></td>
					</tr>
					<tr>
						<th>담당자</th>
						<td>
							<select>
								<option>선택</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>등록일시</th>
						<td>2020-10-15 10:15:15</td>
					</tr>
					<tr>
						<th>수정일시</th>
						<td>2020-10-15 10:15:15</td>
					</tr>
					</tbody>
				</table>
				<div class="table-menu">
					<a href="javascript:history.back()">취소</a>
					<a href="#none">등록</a>
				</div>
			</div>
		</article>

	</div>



</div>

<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/jquery-ui-1.12.1.js"></script>
<script src="../js/ui.js"></script>

</body>
</html>