<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="~{layout/default}"
>
	<div class="wrapper" layout:fragment="content">
		<form name="signup" action="/signup" method="post">
			<input type="hidden" name="userType" th:value="${userType}">
		<article class="table-set">
			<div class="inner">
				<div class="table-list-tit">회원가입</div>
				<table>
					<colgroup>
						<col style="width:200px;">
						<col style="width:auto;">
					</colgroup>
					<tbody>
					<tr>
						<th>아이디</th>
						<td><input type="text" class="tbox" name="userId" ></td>
					<tr>
						<th>비밀번호</th>
						<td><input type="text" class="tbox" name="userPw"></td>
					</tr>
					<tr>
						<th>이름</th>
						<td><input type="text" class="tbox" name="userNm"></td>
					</tr>
					<tr>
						<th>기업명</th>
						<td><input type="text" class="tbox" name="corpNm"></td>
					</tr>
					<tr>
						<th>사업자등록번호</th>
						<td><input type="text" class="tbox" name="corpNo"></td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td><input type="text" class="tbox" name="telNo" th:value="${mobile}"></td>
					</tr>
					<tr>
						<th>이메일</th>
						<td><input type="text" class="tbox" name="userEmail" th:value="${email}"></td>
					</tr>
					</tbody>
				</table>
				<div class="table-menu">
					<a href="javascript:history.back()">취소</a>
					<a href="javascript:void(0)" onclick="document.forms.signup.submit()">회원가입</a>
				</div>
			</div>
		</article>
		</form>
	</div>
</html>